section {
  padding: 3rem;

  h2 {
    text-align: center;
    color: var(--foreground-color);
    font-size: 40px;
    font-weight: 600;
  }

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: space-around;
  }
}
