header {
  height: 640px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eff8ff;
  padding: 0 2rem;

  section {
    p {
      font-size: 48px;
      font-weight: 600;
      color: var(--foreground-color);
    }

    button {
      margin-top: 50px;
      background-color: var(--primary-color);
      width: 200px;
      height: 56px;
      border-radius: 50px;
      border: none;
      font-size: 20px;
      color: var(--background-color);
      cursor: pointer;
    }
  }

  img {
    width: 500px;
    height: 500px;
  }
}
