section {
  background-color: #eff8ff;
  height: 475px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;

  article {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h4 {
      font-size: 32px;
      font-weight: 600;
      color: var(--foreground-color);
    }

    p {
      padding-right: 8rem;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: var(--secondary-color);
      text-align: start;
    }

    span {
      display: flex;
      gap: 1rem;

      img {
        cursor: pointer;
      }
    }
  }
}
