<section>
  <article>
    <h4>Baixe nosso app para desfrutar mais!</h4>
    <p>
      Amet in elementum nulla scelerisque dui, egestas at. Elit consectetur
      turpis elementum amet vitae et etiam nec. Varius volutpat hac adipiscing
      tincidunt pretium.
    </p>

    <span>
      <img
        src="/assets/google-play.SVG"
        alt="Imagem de redirecionamento para a loja da google"
      />

      <img
        src="/assets/app-store.SVG"
        alt="Imagem de redirecionamento para a loja da apple"
      />
    </span>
  </article>
  <img src="/assets/illustration2.svg" alt="" />
</section>
