nav {
  display: flex;
  justify-content: space-around;
  height: 70px;
  padding: 1rem;

  img {
    width: 100px;
    height: 30px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    color: var(--secondary-color);

    li {
      cursor: pointer;
      padding: 5px;
    }
  }
}
